* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 78, 53);
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    margin: 2rem;
    font-family: monospace;
    font-size: 4rem;
}


.main {
    
}

.addtask__container {
    display: flex;
    flex-direction: column;
    border: 0.25rem solid white;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(2, 44, 30);
}

.addtask__heading {
    font-family: monospace;
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.addtask__input {
    font-size: 2rem;
    border-radius: 0.5rem;
    border: 0.125rem solid white;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0.25rem;
}

.addtask__button {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: 0.125rem solid white;
    padding: 0.25rem;
    background-color: rgb(63, 62, 62);
    color: white;
    display: block;

    transition: all 0.2s ease-in-out;
}

.addtask__button:hover {
    background-color: rgb(21, 21, 21);
    color: rgb(190, 190, 83);
    border: 0.125rem solid rgb(190, 190, 83);
    cursor: pointer;
}

.tasks__container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    border: 0.25rem solid white;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(2, 44, 30);
}

.tasks__heading {
    font-size: 2rem;
    font-family: monospace;
    margin-bottom: 0.5rem;
}

.tasks__inner-div {
    border: 0.25rem solid white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.task {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    
}

.task__text {
    margin-right: 0.5rem;
    
    white-space: nowrap;

}

.task__outer-bar {
    width: 20rem;
    margin-right: 0.5rem;
}

.task__bar {
    height: 1rem;
    width: 100%;
    background-color: red;
    border: none;
    border-radius: 5px;
}

.task__percentage {
    width: 2rem;
}